$dark-turq: #649e8c;
$dark-pink: #ff849c;
$light-pink: rgb(255, 183, 197);
$bold: 600;
$gold: #d8c690;
$border-turq: #21827e;
$darktheme-background: #2e2e2d;

/*
@mixin background{  
    background-size: cover;
    background-position: 
    //background-repeat: no-repeat; 
    }
    
  .overlay-yellow{
    @include background();
    background-image: url('background/background-gul.jpg');
  }
  
  .overlay-green{
    @include background();
    background-image: url('background/background-turkos.jpg');
  }
  .overlay-pink{
    @include background();
    background-image: url('background/background-rosa.jpg');
  }
  
  .overlay-white{
    @include background();
    background-image: url('background/background-vit.jpg');
  }*/

  
  /*BAKGRUND 
#index-overlay {
    background-size: cover;
    background-position: center;
    /*background-image: url(src/images/background-vit.jpg);
    background-repeat: no-repeat;
  }
  
  #about-overlay {
    background-size: cover;
    background-position: center;
    /*background-image: url(src/images/background-gul.jpg);
    background-repeat: no-repeat;
  }
  
  #portfolio-overlay {
    background-size: cover;
    background-position: center;
    /*background-image: url(src/images/background-turkos.jpg);
    background-repeat: no-repeat;
  }
  
  #services-overlay {
    background-size: cover;
    background-position: center;
    /*background-image: url(src/images/background-rosa.jpg);
    background-repeat: no-repeat;
  }*/
