//Bilder
.images{
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}  

/*BILDER INDEX*/
@mixin image{
    border: 4px solid var(--border-turq);
    width: 300px;
    height: auto;   
    margin: 2% 
  }

  #image-one{
    @include image;
    width: 800px;
    height: auto;
    
  }

  #image-two{
    @include image;
    border-width: 7px;
    border-color:  var(--header-border);

  }

  #image-three{
    @include image;
    border-width: 8px;
  }

  #image-four{
    @include image;
    width: 500px;
  }

  #image-five{
    @include image;
    width: 500px;
    border-color: var(--header-border);
  }

  img{
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 699px) {
    .images{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: center;
      margin: auto;
    }  
    
    /*BILDER INDEX*/
    @mixin image{
        border: 4px solid var(--border-turq);
        max-width: 100%;
        height: auto;   
        margin: 10px auto; 
      }
    
      #image-one{
        @include image;
        width: 800px;
        height: auto;        
      }
    
      #image-two{
        @include image;
        border-width: 7px;
        border-color:  var(--header-border);    
      }
    
      #image-three{
        @include image;
        border-width: 8px;
      }
    
      #image-four{
        @include image;
        width: 500px;
      }
    
      #image-five{
        @include image;
        width: 500px;
        border-color: var(--header-border);
      }
    
      img{
        width: 100%;
        height: 100%;
      }
  }

  