$dark-turq: #649e8c;
$dark-pink: #ff849c;
$dark-pink-dark: #8d3c4d;
$dark-pink-darktheme: lighten($dark-pink, 10%);
$footer-darktheme: #4f272f;
$light-pink: rgba(255, 183, 197, 0.7);
$bold: 600;
$gold: #d8c690;
$border-turq: #21827e;
$darktheme-background: rgba(46, 46, 45, 0.7);
$background: rgba(255, 234, 238, 0.7);
$text-dark-theme: #E8E4E0;
$text-light-theme: #2a3636;

.images{
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}  

/*BILDER INDEX*/
%image-{
    border: 4px solid #21827e;
    width: 300px;
    height: auto;   
    margin: 2% 
  }

  #image-one{
    @extend %image-;
    width: 800px;
    height: auto;
    
  }

  #image-two{
    @extend %image-;
    border-width: 7px;
    border-color:  $dark-pink;

  }

  #image-three{
    @extend %image-;
    border-width: 8px;
  }

  #image-four{
    @extend %image-;
    width: 500px;
  }

  #image-five{
    @extend %image-;
    width: 500px;
    border-color: #ff849c;
  }

  img{
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 699px) {
    .images{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: center;
      margin: auto;
    }  
    
    /*BILDER INDEX*/
    %image-{
        border: 4px solid #21827e;
        max-width: 100%;
        height: auto;   
        margin: 10px auto; 
      }
    
      #image-one{
        @extend %image-;
        width: 800px;
        height: auto;        
      }
    
      #image-two{
        @extend %image-;
        border-width: 7px;
        border-color:  $dark-pink;    
      }
    
      #image-three{
        @extend %image-;
        border-width: 8px;
      }
    
      #image-four{
        @extend %image-;
        width: 500px;
      }
    
      #image-five{
        @extend %image-;
        width: 500px;
        border-color: #ff849c;
      }
    
      img{
        width: 100%;
        height: 100%;
      }
  }
 



  