//Karta
 #map {
    height: 90%;
    width: 70%;
    margin: 5% 15%;  
  }
     
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
   }  
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  } 
  
  #place-autocomplete-card {
    background-color: var(--color-background);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
  }
  
  gmp-place-autocomplete {
    width: 300px;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #map #infowindow-content {
    display: inline;
  }